.price {
    border: 3px solid white;
    background-color: #53a451;
    color: white;
    text-align: center;
    width: 6em;
}

img {
    width: 300px;
    height: auto;
}

.adLabel {
    font-size: 16px;
    font-weight: bold;
}
/*.contactButton{*/
    /*background-color: #53a451;*/
    /*text-align: center;*/
    /*color: white;*/
    /*border: 2px solid white;*/
/*}*/
/*.contactButton:hover{*/
    /*background-color: #53a451;*/
    /*color: white;*/
    /*border: 2px solid #53a451;*/
/*}*/