.home-header {
    border-bottom: 4px solid rgba(0, 0, 0, 0.07);
    padding-bottom: 10px;
    text-align: left;
}

ul#home-category {
    list-style-type: none;
    padding: 0;
}

.card {
    margin: 1em 1em;
    width: 12rem;
    height: 12rem;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    transition: 0.3s;
}

.card-body {
    padding-top: 3em;
    background-color: #efedef;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 #53a451;
}

ul#home-category a i {
    display: block;
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}

ul#home-category li a {
    display: block;
    text-align: center;
}