body{
    background-color: #222022;
    color: #222022;
    font-weight: 600;
}
.main-header {
    padding-bottom: 10px;
    text-align: left;
}
.navbar-brand {
    color: #53a451;
    font-size: 1.3em;
}
.navbar-brand:hover {
    color: #efedef;
    font-size: 1.3em;
}
.categoriesText{
    color: #53a451;
}
.categoriesText:hover{
    color: #222022;
}
#classifieds a {
    color: #53a451;
}
#classifieds a:hover {
    color: #222022;
}

#jar{
    color: #222022;
}

#adTitle{
    color: #53a451;
}

#adTitle:hover{
    color: #222022;
}

#adTitle:link{
    color: #53a451;
}

.row {
    background-color: #efedef;
}

#home-category{
    background-color: #222022;
}
.home-header{
    color: #53a451;
    background-color: #222022;
}

.adLabel{
    color: #53a451;
}
.bg-color-dark {
    background-color: #222022;
}
.f-color-g {
    color: #53a451;
}
.f-color {
    color: #efedef;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}